@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*за допомогою данної функції ми скидуємо всі кордони які задаються браузером автоматично*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*дане значення зміню підрахунок ширини блоку так щоб нам було зручно знею працювати*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*дана функція прибирає лінії обводки в деяких браузерах*/
nav,
footer,
header,
aside {
  display: block;
}

/*Робимо блочними данні теги nav, footer, header, aside*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Дані параметри задають рівні умови для поведінки шрифтів, наприклад самовільне збільшення шрифтів на iphone*/
input,
button,
textarea {
  font-family: inherit;
}

/*команда для наслідування сімейства шрифтів*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*прибирають деякі особливості в різних браузерах*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* обнулення */
.style-switcher {
  position: fixed;
  right: 0;
  top: 60px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-black-50);
  background-color: var(--bg-black-100);
  z-index: 101;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.style-switcher.open {
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.style-switcher .s-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 20px;
  background-color: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.style-switcher .s-icon i {
  line-height: 27px;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  top: 55px;
}

.style-switcher h4 {
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.style-switcher .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.style-switcher .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.style-switcher .color-1 {
  background-color: #ec1839;
}

.style-switcher .color-2 {
  background-color: #fa5b0f;
}

.style-switcher .color-3 {
  background-color: #37b182;
}

.style-switcher .color-4 {
  background-color: #1854b4;
}

.style-switcher .color-5 {
  background-color: #f021b2;
}
